<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Surf Station Foundation">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Encode+Sans&amp;display=swap" rel="stylesheet">
    <link href="static/{{ site.time | date: '%Y%m%d%H%M%S' }}/main.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="index.html"><img src="static/{{ site.time | date: '%Y%m%d%H%M%S' }}/images/logo.svg" class="banner"></a>
      <nav>
        <input type="checkbox" id="menu_check_toggle_01">
        <label for="menu_check_toggle_01">
          <img src="static/{{ site.time | date: '%Y%m%d%H%M%S' }}/images/menu_close.svg">
          <img src="static/{{ site.time | date: '%Y%m%d%H%M%S' }}/images/menu_open.svg">
        </label>
        <menu>
          <li><a href="index.html">Home</a></li>
          <li>
            <input type="checkbox" id="menu_check_toggle_02">
            <label for="menu_check_toggle_02">
              <a>Board</a>
            </label>
            <menu>
              <li><a href="charles_tinlin.html">Charles Tinlin</a></li>
              <li><a href="chris_way.html">Chris Way</a></li>
              <li><a href="gabe_kling.html">Gabe Kling</a></li>
              <li><a href="sean_anderson.html">Sean Anderson</a></li>
              <li><a href="tania_schmidt-alpers.html">Tania Schmidt-Alpers</a></li>
              <li><a href="zander_morton.html">Zander Morton</a></li>
            </menu>
          </li>
          <li><a href="partners.html">Partners</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="transparency.html">Transparency</a></li>
          <li><a href="contact.html">Contact</a></li>
        </menu>
      </nav>
    </header>
    <main>
{{ content -}}
    </main>
    <footer>
      <div class="copyright">Copyright &copy; 2022 Surf Station Foundation, Inc., a 501(c)(3) tax exempt public charity. All rights reserved.</div>
    </footer>
  </body>
</html>
